@import url(http://fonts.googleapis.com/css?family=Varela+Round);
/* Large desktop */
/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
/* Landscape phones and down */
/* line 15, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_base.scss */
body {
  background-color: #003300;
  color: #3A3A3A;
  font: 12px/1.4em Arial, sans-serif;
  min-width: 1200px;
  /* suppose you want minimun width of 1000px */
  width: auto !important;
  /* Firefox will set width as auto */
  width: 1200px;
  /* As IE ignores !important it will set width as 1000px; */
}

/* line 25, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_base.scss */
nav {
  background-color: #006600;
  height: 40px;
}
/* line 30, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_base.scss */
nav ul {
  font-family: Arial, Verdana;
  font-size: 18px;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 38, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_base.scss */
nav ul li {
  display: block;
  position: relative;
  float: left;
}
/* line 44, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_base.scss */
nav ul li a {
  display: block;
  text-decoration: none;
  padding: 7px 15px 3px 15px;
  background: #006600;
  color: #ffffff;
  margin-left: 1px;
  white-space: nowrap;
  height: 25px;
  /* Width and height of top-level nav items */
  width: 115px;
  text-align: center;
}
/* line 57, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_base.scss */
nav ul li a:hover {
  background: #197519;
}
/* line 67, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_base.scss */
nav ul li ul li a {
  text-align: left;
  /* Top-level items are centered, but nested list items are left-aligned */
}
/* line 78, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_base.scss */
nav li ul {
  display: none;
}
/* line 85, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_base.scss */
nav li:hover ul {
  display: block;
  position: absolute;
  height: 30px;
}
/* line 92, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_base.scss */
nav li:hover li {
  float: none;
  font-size: 11px;
}
/* line 97, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_base.scss */
nav li:hover li a {
  background: #197519;
  height: 30px;
  /* Height of lower-level nav items is shorter than main level */
}
/* line 102, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_base.scss */
nav li:hover li a:hover {
  background: #308330;
}

/* line 111, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_base.scss */
br.clearLeft {
  clear: left;
}

/* line 115, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_base.scss */
p {
  font-size: 15px;
}

/* line 119, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_base.scss */
#wrap {
  margin: 10px auto;
  background: #006600;
  padding: 10px;
  width: 67%;
  border-radius: 15px;
}

/* line 127, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_base.scss */
main {
  background: #F5F5F5;
}

/* line 131, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_base.scss */
#footer {
  text-align: center;
  color: white;
  /*Applies to any text*/
}

/* line 136, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_base.scss */
#page_title {
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
}

/* line 142, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_base.scss */
#page_container {
  padding: 15px;
}
/* line 145, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_base.scss */
#page_container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
/* line 152, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_base.scss */
#page_container h2 {
  font-size: 25px;
}

/* line 2, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_header.scss */
#header {
  background-color: #666;
  color: #FFF;
  border-radius: 15px;
}

/* line 9, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_header.scss */
#logo {
  font-size: 30px;
  line-height: 40px;
  padding: 5px;
  background: #006600;
  text-align: center;
}

/* line 18, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_header.scss */
#navWrap {
  height: 40px;
  z-index: 50;
}

/* line 24, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_header.scss */
#nav {
  background-color: #006600;
  height: 40px;
  z-index: 10;
  /*Puts the nav bar in front of the picture slides*/
}
/* line 30, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_header.scss */
#nav ul {
  font-family: Arial, Verdana;
  font-size: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 10;
  /*Puts the nav bar in front of the picture slides*/
}

/* line 41, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_header.scss */
.bigNum {
  font-size: 20px;
  color: #000;
  background: #FFF;
  padding: 2px;
}

/* line 1, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_home.scss */
.slides {
  padding: 0;
  width: 625px;
  height: 430px;
  display: block;
  margin: 0 auto;
  position: relative;
}
/* line 10, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_home.scss */
.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
/* line 19, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_home.scss */
.slides input {
  display: none;
}

/* line 22, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_home.scss */
.slide-container {
  display: block;
}

/* line 24, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_home.scss */
.slide {
  top: 0;
  opacity: 0;
  width: 609px;
  height: 420px;
  display: block;
  position: absolute;
  transform: skew(0);
  transition: all .7s ease-in-out;
}
/* line 36, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_home.scss */
.slide img {
  width: 100%;
  height: 100%;
}

/* line 44, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_home.scss */
.pic-nav label {
  width: 200px;
  height: 100%;
  display: none;
  position: absolute;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
  transition: opacity .2s;
  color: #FFF;
  font-size: 156pt;
  text-align: center;
  line-height: 380px;
  font-family: "Varela Round", sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
  text-shadow: 0px 0px 15px #777777;
}

/* line 67, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_home.scss */
#intro_info {
  text-align: center;
}

/* line 72, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_home.scss */
#practice-schedule {
  text-align: center;
}

/* line 77, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_home.scss */
.upcoming_events {
  margin-top: 20px;
  text-align: center;
}

/* line 84, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_home.scss */
.photo_set {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 5px solid;
}

/* line 91, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_home.scss */
.feed_container {
  padding-top: 15px;
  width: 100%;
  text-align: center;
}

/* line 98, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_home.scss */
.facebook_feed {
  display: inline-block;
  padding-right: 4.5px;
}

/* line 104, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_home.scss */
.twitter_feed {
  display: inline-block;
  padding-left: 4.5px;
}

/* line 110, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_home.scss */
#index_video {
  text-align: center;
}

/* line 117, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_home.scss */
#attention_text h2 {
  text-align: center;
}

/* line 122, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_home.scss */
.slide:hover + .pic-nav label {
  opacity: 0.5;
}

/* line 124, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_home.scss */
.pic-nav label:hover {
  opacity: 1;
}

/* line 126, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_home.scss */
.pic-nav .next {
  right: 0;
}

/* line 128, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_home.scss */
input:checked + .slide-container .slide {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

/* line 136, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_home.scss */
input:checked + .slide-container .pic-nav label {
  display: block;
}

/* line 138, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_home.scss */
.nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center;
}

/* line 147, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_home.scss */
.nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 158, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_home.scss */
.nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

/* line 168, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_home.scss */
input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
  background: rgba(0, 0, 0, 0.8);
}

/* line 1, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_meetTheTeam.scss */
.person {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 5px solid;
}
/* line 6, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_meetTheTeam.scss */
.person img {
  float: left;
}
/* line 10, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_meetTheTeam.scss */
.person h2 {
  text-align: center;
  text-decoration: underline;
}
/* line 15, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_meetTheTeam.scss */
.person p {
  text-align: center;
}

/* line 3, C:/Users/jbull_000/Documents/School/TC/TC 349/tc349fs2014iamdabes/FinalProject/sass/components/_manateeMonthlies.scss */
#manatee_monthlies h1 {
  text-align: center;
  text-decoration: underline;
}
