@import '_colors.scss';

.about-me{
  clear:both;
  background: $about-me-back;
  padding: 0;

img{
  display:block;
  margin-left:auto;
  margin-right:auto;
  height:200px;
  padding-top: 30px;
}
	
} 