@import '_colors.scss';
@import 'compass/css3/box-shadow';

.hero{
  clear:both;
  background: $hero-back;
  padding: 0;


  img{
  display:block;
  margin-left:auto;
  margin-right:auto;
  height:400px;
  padding-top: 70px;
  @include box-shadow(rgba(blue, 0.4) 0 0 25px, rgba(green, 0.2) 0 0 3px 1px inset);

  }
}