.person{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 5px solid;

  img{
  float: left;
  }

  h2{
  text-align: center;
  text-decoration: underline;
  }

  p{
   text-align: center;
}
}